@import '../settings/settings';

.c-loading {
  display: inline-block;
  width: 2em;
  height: 2em;

  &:after {
    content: " ";
    display: block;
    width: 1.5em;
    height: 1.5em;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid;
    border-color: $color-text transparent $color-text transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }

  &--white:after {
    border-color: #fff transparent #fff transparent;
  }
  &--primary:after {
    border-color: $color-primary transparent $color-primary transparent;
  }
  &--success:after {
    border-color: $color-success transparent $color-success transparent;
  }
  &--warning:after {
    border-color: $color-warning transparent $color-warning transparent;
  }
  &--danger:after {
    border-color: $color-danger transparent $color-danger transparent;
  }

  &--lg {
    height: 3em;
    width: 3em;
    &:after {
      height: 2.5em;
      width: 2.5em;
    }
  }

  &--md {
    height: 2em;
    width: 2em;
    &:after {
      height: 1.5em;
      width: 1.5em;
    }
  }

  &--sm {
    height: 1.4em;
    width: 1.4em;
    &:after {
      border-width: 4px;
      height: 1em;
      width: 1em;
    }
  }

  &--xs {
    height: 1em;
    width: 1em;
    &:after {
      border-width: 3px;
      height: .8em;
      width: .8em;
    }
  }
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
