@import '../settings/settings';

:global {
  @import '~flatpickr/dist/flatpickr.min.css';

  .flatpickr-calendar {
    font-family: $font-text;
  }

  .flatpickr-month {
    background: $color-primary !important;
    padding-bottom: 5px;
    color: #fff !important;
  }
  .flatpickr-prev-month,
  .flatpickr-next-month {
    fill: #fff !important;
    color: #fff !important;

    &:hover svg {
      color: #eee !important;
      fill: #eee !important;
    }
  }
}

%c-form__datepicker--valid {
  border-color: $form-color-border-normal;
  background-color: $form-color-background-normal;
}

%c-form__datepicker--error {
  border-color: $color-danger !important;
  background-color: lighten($color-danger, 48%);
}

.c-form__element {
  display: block;
}

.c-form__datepicker {
  background: $form-color-background-normal;
  border: 1px solid $form-color-border-normal;
  border-radius: $form-border-radius-md;
  box-sizing: border-box;
  color: $form-color-text;
  font-family: $font-text;
  font-size: $font-size-md;
  margin: 0;
  padding: $form-padding-vertical-md $form-padding-horizontal-md;
  transition: $global-transition all ease-in-out;
  width: 100%;

  &--lg {
    padding: $form-padding-vertical-lg $form-padding-horizontal-lg;
    font-size: $font-size-lg;
    border-radius: $form-border-radius-lg;
  }
  &--sm {
    padding: $form-padding-vertical-sm $form-padding-horizontal-sm;
    font-size: $font-size-sm;
    border-radius: $form-border-radius-sm;
  }
  &--xs {
    padding: $form-padding-vertical-xs $form-padding-horizontal-xs;
    font-size: $font-size-xs;
    border-radius: $form-border-radius-xs;
  }

  &:hover, &:focus {
    outline: none;
    background: $form-color-background-hover;
    border-color: $form-color-border-hover;
  }

  &.c-form__datepicker--value {
    background: $form-color-background-has-value;
  }

  &--valid {
    @extend %c-form__datepicker--valid;
  }

  &--error {
    @extend %c-form__datepicker--error;
  }

  &:disabled {
    border-color: lighten($color_text, 30%);
    background: lighten($color_text, 80%);
    opacity: .4;
  }
}
