@import '../settings/settings';
@import '../tools/tools';

.c-form__col {
  float: left;
  position: relative;
}

.c-form__col1 {
  width: 25%;
}
.c-form__col2 {
  width: 50%;
}
.c-form__col3 {
  width: 75%;
}
.c-form__col4 {
  width: 100%;
}

.c-form__col1,
.c-form__col2,
.c-form__col3,
.c-form__col4 {
  @include mq($until: desktop) {
    width: 50% !important;
  }
  @include mq($until: tablet) {
    width: 100% !important;
  }
}
