@import'../settings/colors';
@import'../tools/mq';

:global {
  @import '~react-tabs/style/react-tabs.scss';
}

.tabs {
  font-family: system-ui, sans-serif;

  :global {
    .react-tabs__tab-list {
      border-bottom: 1px solid $content-border-color;
      margin: 0;

      @include mq($until: tablet) {
        display: block;
        overflow-y: auto;
        width: 100%;
        white-space: nowrap;
      }
    }

    .react-tabs__tab {
      margin: 0 24px;
      padding: 18px 12px;
      border: none;
      border-bottom: 2px solid transparent;
      color: $color-text;
      font-size: .875rem;
      font-weight: 500;

      @include mq($until: tablet) {
        margin: 0 12px;
      }

      &:hover, &:focus, &--selected {
        border-color: $color-primary;
        color: $color-primary;

        &:after {
          display: none;
        }
      }

      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
