@import '../settings/colors';
@import '../tools/mq';

.c-step-navigator {
  position: relative;
  display: table;
  width: auto;
  margin: 0;
  padding: 0;

  &:before {
    content: '';
    left: 72px;
    right: 72px;
    top: 18px;
    height: 4px;
    background: $content-border-color;
    position: absolute;

    @include mq($until: tablet) {
      left: 30px;
      right: auto;
      top: 20px;
      bottom: 20px;
      width: 2px;
      height: auto;
    }
  }

  &__progress {
    left: 72px;
    top: 18px;
    height: 4px;
    background: $color-primary;
    position: absolute;
    z-index: 2;

    @include mq($until: tablet) {
      display: none;
    }
  }

  &__children {
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: row;

    @include mq($until: tablet) {
      flex-direction: column;
    }
  }
}
