@import '../settings/colors';

.c-step-navigator {
  position: relative;
  display: table;
  width: auto;
  margin: 0;
  padding: 0;

  &:before {
    content: '';
    left: 72px;
    right: 72px;
    top: 18px;
    height: 4px;
    background: $content-border-color;
    position: absolute;

  }

  &__progress {
    left: 72px;
    top: 18px;
    height: 4px;
    background: $color-primary;
    position: absolute;
    z-index: 2;
  }

  &__children {
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: row;
  }
}
