/**
 * Default system colors
 */

$color-primary: #009FFF;
$color-success: #0F0;
$color-warning: #F90;
$color-danger: #F00;

$color-text: #222;
$color-text-light: lighten($color-text, 60%);
$color-white: #fff;
