/**
 * Default system colors
 */

$color-primary: #009FFF;
$color-success: #6DD386;
$color-warning: #D3CF6D;
$color-danger: #FB8686;

$color-brand-primary: #1f335b;

$color-text: #455A64;
$color-text-light: #8FA4AE;
$color-white: #fff;
$color-heading: #273238;

/**
 * Content
 */
$content-background: #FAFBFC;
$content-border: none;

/**
 * Content Sidebar
 */
$sidebar-background: #F0F3F5;
$sidebar-border: 1px solid #ECEFF1;

/**
 * Buttons
 */
$btn-border-color: #CFD8DC;
$btn-color: #455A64;
$btn-background-primary: $color-primary;

/**
 * Modal
 */

$modal-overlay-background-color: rgba(242, 250, 255, .5);
$modal-background-color: #fff;
$modal-border: 1px solid #ECEFF1;

/**
 * Timeline
 */

$timeline-line-color: #CFD8DC;
$timeline-background-default: #FFF;
$timeline-background-alternate: #F9FAFA;

/**
 * Content
 */
$content-border-color: #ECEFF1;
