// Base spacing between components
$base-spacing-unit: 20px;


$base-lg: 20px;
$base-md: 16px;
$base-sm: 12px;
$base-xs: 10px;

/**********************************
 * Buttons spacing
 */

// Base vertical spacing for btn in different sizes
$btn-padding-vertical-lg: 0.75 * $base-lg;
$btn-padding-vertical-md: 0.75 * $base-md;
$btn-padding-vertical-sm: 0.75 * $base-sm;
$btn-padding-vertical-xs: 0.75 * $base-xs;

// Base horizontal spacing for btn in different sizes
$btn-padding-horizontal-lg: 1.5 * $base-lg;
$btn-padding-horizontal-md: 1.5 * $base-md;
$btn-padding-horizontal-sm: 1.5 * $base-sm;
$btn-padding-horizontal-xs: 1.5 * $base-xs;

// Base border-radius for btn in different sizes
$btn-border-radius-lg: 0.5 * $base-lg;
$btn-border-radius-md: 0.5 * $base-md;
$btn-border-radius-sm: 0.5 * $base-sm;
$btn-border-radius-xs: 0.5 * $base-xs;

/**********************************
 * Form Simple Spacing
 */

// Padding vertical
$form-padding-vertical-lg: 0.8 * $base-lg;
$form-padding-vertical-md: 0.8 * $base-md;
$form-padding-vertical-sm: 0.8 * $base-sm;
$form-padding-vertical-xs: 0.8 * $base-xs;

// Padding horizontal
$form-padding-horizontal-lg: 1 * $base-lg;
$form-padding-horizontal-md: 1 * $base-md;
$form-padding-horizontal-sm: 1 * $base-sm;
$form-padding-horizontal-xs: 1 * $base-xs;

// Border-radius
$form-border-radius-lg: 0.2 * $base-lg;
$form-border-radius-md: 0.2 * $base-md;
$form-border-radius-sm: 0.2 * $base-sm;
$form-border-radius-xs: 0.2 * $base-xs;

// Radio size
$form-radio-size-lg: 2 * $base-lg;
$form-radio-size-md: 2 * $base-md;
$form-radio-size-sm: 2 * $base-sm;
$form-radio-size-xs: 2 * $base-xs;

// Checkbox size
$form-checkbox-size-lg: 2 * $base-lg;
$form-checkbox-size-md: 2 * $base-md;
$form-checkbox-size-sm: 2 * $base-sm;
$form-checkbox-size-xs: 2 * $base-xs;
