@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

$font-serif:      'Times New Roman', serif;
$font-sans-serif: 'Roboto', sans-serif;

$font-heading: 'Roboto', sans-serif;
$font-text: $font-sans-serif;

$font-size-lg:   19px;
$font-size-md:    16px;
$font-size-sm:  14px;
$font-size-xs:   12px;

$font-weight-light:   300;
$font-weight-regular: 400;
$font-weight-bold:    700;

$line-height-base:    1.2em;
$line-height-medium:  1.5em;
$line-height-small:   1em;
$line-height-tiny:    .9em;

